body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #f4f6f8;
}

.header {
  background: #021e73;
  color: white;
  padding: 15px 30px;
  display: flex;
  justify-content: space-between;
}

.header nav a {
  color: white;
  margin-right: 15px;
  text-decoration: none;
}

.header button {
  background: #ef4444;
  border: none;
  color: white;
  padding: 6px 12px;
  cursor: pointer;
}



.page {
  padding: 30px;
  min-height: calc(100vh - 120px);
}
html, body {
  height: 100%;
  margin: 0;
}

#root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
.footer {
  margin-top: auto;
  height: 60px;
  background-color: #021e73 !important;
  color: #ffffff;

  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 0 30px;
  box-sizing: border-box;
}


.footer-left,
.footer-center,
.footer-right {
  display: flex;
  align-items: center;
}

.footer-logo {
  height: 35px;
}

.footer-right i {
  margin-left: 15px;
  font-size: 18px;
  cursor: pointer;
}

.footer-right i:hover {
  opacity: 0.7;
}

@media (max-width: 768px) {
  body {
    overflow-x: hidden;
  }

  input,
  select,
  button {
    width: 100%;
    font-size: 16px;
  }

  header {
    flex-direction: column;
    padding: 15px;
  }

  header nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
  }

  .footer {
    flex-direction: column;
    text-align: center;
    gap: 15px;
  }

  .footer img {
    width: 120px;
  }

  .footer .redes {
    display: flex;
    justify-content: center;
    gap: 15px;
  }
}
